package components

templ Button(onclick templ.ComponentScript) {
	@ButtonStyle()
	<button class="button" onclick={onclick}>{ children... }</button>
}

templ ButtonStyle() {
	<style>
		.button {
			padding: 15px 20px;
			background-color: var(--color-primary);
			color: var(--color-white);
			text-decoration: none;
			border-radius: 8px;
			cursor: pointer;
			border: none;
		}

		.button:hover {
			background-color: var(--color-primary-hover);
		}
	</style>
}