package views

import "lva100/go-fiber/views/components"
import "lva100/go-fiber/views/layout"

templ Main() {
	<div>
		@layout.Header() {
			@components.Title(components.TitleProps{
				Title: "Header",
			})
		}
		Main
	</div>
}