package views

import "lva100/go-fiber/views/components"
import "lva100/go-fiber/views/layout"

templ Main() {
	@layout.Layout(layout.LayoutProps{
		Title: "Найди работу мечты",
		MetaDescription: "Сайт по поиску работы мечты",
	}) {
		<div>
		@layout.Header() {
			@components.Title(components.TitleProps{
				Title: "Найди работу своей мечты",
			})
			@components.SubTitle("Простой поиск работы")
		}
		Main
	</div>
	}	
}